In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'CAR DETAILS.csv')
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

# dropping all the duplicate value

In [4]:
df.drop_duplicates(keep='first')

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

# spillting name colcumn to get brand name


# Split name on " "
df[['name-split-0-yfui', 'name-split-1-yfui', 'name-split-2-yfui', 'name-split-3-yfui', 'name-split-4-yfui', 'name-split-5-yfui', 'name-split-6-yfui', 'name-split-7-yfui', 'name-split-8-yfui', 'name-split-9-yfui']] = df['name'].str.split(' ', n=-1, expand=True, regex=None)
df = df[df.columns[:1].tolist() + ['name-split-0-yfui', 'name-split-1-yfui', 'name-split-2-yfui', 'name-split-3-yfui', 'name-split-4-yfui', 'name-split-5-yfui', 'name-split-6-yfui', 'name-split-7-yfui', 'name-split-8-yfui', 'name-split-9-yfui'] + df.columns[1:-10].tolist()]

# Deleted columns name-split-1-yfui
df.drop(['name-split-1-yfui'], axis=1, inplace=True)

# Deleted columns name-split-2-yfui
df.drop(['name-split-2-yfui'], axis=1, inplace=True)

# Deleted columns name-split-3-yfui
df.drop(['name-split-3-yfui'], axis=1, inplace=True)

# Deleted columns name-split-4-yfui
df.drop(['name-split-4-yfui'], axis=1, inplace=True)

# Deleted columns name-split-5-yfui
df.drop(['name-split-5-yfui'], axis=1, inplace=True)

# Deleted columns name-split-6-yfui
df.drop(['name-split-6-yfui'], axis=1, inplace=True)

# Deleted columns name-split-7-yfui
df.drop(['name-split-7-yfui'], axis=1, inplace=True)

# Deleted columns name-split-8-yfui
df.drop(['name-split-8-yfui'], axis=1, inplace=True)

# Deleted columns name-split-9-yfui
df.drop(['name-split-9-yfui'], axis=1, inplace=True)

# Renamed columns brand_name
df.rename(columns={'name-split-0-yfui': 'brand_name'}, inplace=True)


# Deleted columns name
df.drop(['name'], axis=1, inplace=True)

In [5]:

# Deleted columns name
df.drop(['name'], axis=1, inplace=True)

#### Handling Outliers

In [6]:
df.describe(percentiles=[0.01,0.02,0.03,0.05,0.9,0.95,0.96,0.97,0.98,0.99]).T

,count,mean,std,min,1%,2%,3%,5%,50%,90%,95%,96%,97%,98%,99%,max
year,4340.0,2013.090783,4.215344,1992.0,2001.00,2003.0,2004.0,2005.0,2014.0,2018.0,2019.0,2019.0,2019.0,2019.0,2020.0,2020.0
selling_price,4340.0,504127.311751,578548.736139,20000.0,55000.00,65000.0,70000.0,80000.0,350000.0,900000.0,1300000.0,1479400.0,1720750.0,2492200.0,3200000.0,8900000.0
km_driven,4340.0,66215.777419,46644.102194,1.0,1444.68,5000.0,6483.4,10000.0,60000.0,120000.0,140000.0,150000.0,163830.0,186000.0,220000.0,806599.0

In [7]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [8]:
df.dtypes

year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
dtype: object

In [9]:
df.shape

(4340, 7)

In [10]:
df.isnull().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

# copying final_dataset for one hot encoding

In [11]:
df1=df.copy()

# handling category features

In [12]:
#importing libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder


# Converting type of columns to category
#df1['brand_name']=df1['brand_name'].astype('category')
df1['fuel']=df1['fuel'].astype('category')
df1['seller_type']=df1['seller_type'].astype('category')
df1['transmission']=df1['transmission'].astype('category')
df1['owner']=df1['owner'].astype('category')


#Assigning numerical values and storing it in another columns
#df1['brand_name']=df1['brand_name'].cat.codes
df1['fuel']=df1['fuel'].cat.codes
df1['seller_type']=df1['seller_type'].cat.codes
df1['transmission']=df1['transmission'].cat.codes
df1['owner']=df1['owner'].cat.codes
#Create an instance of One-hot-encoder
enc=OneHotEncoder()

#Passing encoded columns
'''
NOTE: we have converted the enc.fit_transform() method to array because the fit_transform method
of OneHotEncoder returns SpiPy sparse matrix this enables us to save space when we
have huge number of categorical variables
'''
enc_data=pd.DataFrame(enc.fit_transform(df1[['km_driven','fuel','seller_type','transmission','owner']]).toarray())

#Merge with main
new_df=df1.join(enc_data)

print(new_df)

      year  selling_price  km_driven  fuel  seller_type  transmission  owner  \
0     2007          60000      70000     4            1             1      0
1     2007         135000      50000     4            1             1      0
2     2012         600000     100000     1            1             1      0
3     2017         250000      46000     4            1             1      0
4     2014         450000     141000     1            1             1      2
...    ...            ...        ...   ...          ...           ...    ...
4335  2014         409999      80000     1            1             1      2
4336  2014         409999      80000     1            1             1      2
4337  2009         110000      83000     4            1             1      2
4338  2016         865000      90000     1            1             1      0
4339  2016         225000      40000     4            1             1      0

        0    1    2  ...  775  776  777  778  779  780  781  782  783  784
0     0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
4335  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
4336  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
4337  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
4338  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0
4339  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0

[4340 rows x 792 columns]

In [13]:
df1.dtypes

year             int64
selling_price    int64
km_driven        int64
fuel              int8
seller_type       int8
transmission      int8
owner             int8
dtype: object

### creating functions to compute the MSE, RMSE,MAE, R2_Score and to generate training and testing score(r2_score)

In [14]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [15]:
def eval_model(ytest,ypred):
    mae = mean_absolute_error(ytest,ypred)
    mse = mean_squared_error(ytest,ypred)
    rmse = np.sqrt(mean_squared_error(ytest,ypred))
    r2s = r2_score(ytest,ypred)
    print('MAE',mae)
    print('MSE',mse)
    print('RMSE',rmse)
    print('R2_Score',r2s)

#### Import the ML Reg libraries

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

#### Import the necessary sklearn transformational libraries

In [17]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [18]:
x = df1.drop('selling_price',axis=1)
y = df1['selling_price']
print(type(x))
print(type(y))
print(x.shape)
print(y.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(4340, 6)
(4340,)

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=42)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(3255, 6)
(1085, 6)
(3255,)
(1085,)

In [20]:
x_train

      year  km_driven  fuel  seller_type  transmission  owner
2206  2007     100000     1            1             1      2
1159  2014      13250     4            0             1      0
2029  2016      38000     1            0             1      0
1779  2020       1010     4            0             1      3
3357  2012      40700     4            1             1      0
...    ...        ...   ...          ...           ...    ...
3444  2006      50000     1            1             1      0
466   2011      80000     1            1             1      0
3092  2016      51000     1            0             1      0
3772  2013      80000     1            1             1      0
860   2013      80000     4            1             1      0

[3255 rows x 6 columns]

#### 1) Linear Regression

In [21]:

step2 = LinearRegression()

pipe_lr = Pipeline([('step2',step2)])

pipe_lr.fit(x_train,y_train)

ypred_lr = pipe_lr.predict(x_test)

eval_model(y_test,ypred_lr)

MAE 220354.53438438923
MSE 176481595496.32248
RMSE 420097.1262652513
R2_Score 0.4162466077885604

#### 2) Ridge Regression

In [22]:
step2 = Ridge(alpha=10)

pipe_ridge = Pipeline([('step2',step2)])

pipe_ridge.fit(x_train,y_train)

ypred_ridge = pipe_ridge.predict(x_test)

eval_model(y_test,ypred_ridge)

MAE 220155.61995698433
MSE 176148221957.37643
RMSE 419700.1572043742
R2_Score 0.4173493173016174

#### 3) Lasso Regression

In [23]:
step2 = Lasso(alpha=0.1)

pipe_lasso = Pipeline([('step2',step2)])

pipe_lasso.fit(x_train,y_train)

ypred_lasso = pipe_lasso.predict(x_test)

eval_model(y_test,ypred_lasso)

MAE 220354.49192101194
MSE 176481579118.81268
RMSE 420097.1067727231
R2_Score 0.41624666196093385

#### 4) KNN Regression

In [24]:
step2 = KNeighborsRegressor(n_neighbors=3)

pipe_knn = Pipeline([('step2',step2)])

pipe_knn.fit(x_train,y_train)

ypred_knn = pipe_knn.predict(x_test)

eval_model(y_test,ypred_knn)

MAE 222660.84577572966
MSE 201748946565.00513
RMSE 449164.72097105434
R2_Score 0.3326690434705395

#### 5) DT Regression

In [25]:
step2 = DecisionTreeRegressor(max_depth=8,min_samples_split=15)

pipe_dt = Pipeline([('step2',step2)])

pipe_dt.fit(x_train,y_train)

ypred_dt = pipe_dt.predict(x_test)

eval_model(y_test,ypred_dt)

MAE 172445.50997842615
MSE 157531655149.8568
RMSE 396902.5763960935
R2_Score 0.4789278858467263

#### 6) RF Regression

In [26]:
step2 = RandomForestRegressor(n_estimators=100,max_depth=8,
                              min_samples_split=2,random_state=5)

pipe_rf = Pipeline([('step2',step2)])

pipe_rf.fit(x_train,y_train)

ypred_rf = pipe_rf.predict(x_test)

eval_model(y_test,ypred_rf)

MAE 166322.30295782347
MSE 146431702151.65292
RMSE 382663.9546020149
R2_Score 0.5156435286188026

#### Inference

RF Regression is the best performing model in terms of R2_Score and RMSE

#### Saving the model and the DataFrame

In [27]:
import pickle

In [28]:
pickle.dump(pipe_rf,open('RF_Regression.pkl','wb')) # saving the best performing model
pickle.dump(df1,open('df1.pkl','wb'))  # saving the dataframe